{% extends 'base.html' %}



{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Change Password</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="login-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Change Password</h3>
                    <div class="theme-card">
                        <form class="theme-form" method="post">
                            {% include 'messages.html' %}
                            {% csrf_token %}
                            <div class="form-group">
                                <!-- <input type="password" class="form-control" id="review"
                                    placeholder="Enter your password" required=""> -->
                                        {{ form.as_p}}
                                </div>
                            <button  class="btn btn-solid" type="submit">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

{% endblock %}